.cs-heading-container {
    text-align: center;
    margin: 2rem;
  }
  
  .cs-heading-container h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
  }
  
  .cs-heading-container span {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-size: 15px;
  }
  
  .cs-heading-container span::before,
  .cs-heading-container span::after {
    content: "";
    flex-grow: 1;
    height: 1.2px;
    background-color: #ccc;
  }
  
  @media (max-width: 768px) {
    .cs-heading-container h1 {
      font-size: 1rem;
    }
  }
  